*.user.yml
*.user

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
*.egg
.eggs/

*.env
*.venv
.ipynb_checkpoints/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

output
*.duckdb
custom/
test/

transform/target/
transform/dbt_packages/
transform/logs/

extract-load/.dlt/*
extract-load/objects.txt
